@inject Assignment_11._4.Services.IDataRepository data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Injections</h1>
    <div>Value:@ViewBag.data</div>
    <h1>Inject:@data.GetAll()</h1>
    <div></div>
</body>
</html>
